{% extends 'base.html' %}
{% block title %}{{ article.pk }}번 게시글 상세보기{% endblock title %}

{% block container %}
<h1>{{ article.pk }}. {{ article.title }}</h1>
{{ article.content }}</br>
</br>

<a href="{% url 'articles:update' article.pk %}"><button>수정하기</button></a>
<form method="POST" action="{% url 'articles:delete' article.pk %}">
  {% csrf_token %}
  <button type="submit">삭제하기</button>
</form>
<hr>
<h3>댓글</h3>
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  내용 {{ empty_form.content }}
  {% comment %} <button type="submit">달기</button> {% endcomment %}
</form>
<hr>

{% for comment in comments %}
{% if comment.pk == comment_pk %}
<form action="{% url 'articles:comment_update' article.pk comment.pk %}" method="POST">
  {% csrf_token %}
  {{ comment_form.content}} {{comment.created_at}}
  <button type="submit">수정</button>
</form>
{% else %}
  {{ comment.content }} {{ comment.created_at }}
{% endif %}

{% endfor %}
{% endblock container %}
