{% extends 'base.html' %}
{% block title %}{{ article.pk }}번 게시글 상세보기{% endblock title %}

{% block container %}
<h1>{{ article.pk }}. {{ article.title }}</h1>
<h3>작성자 : {{ article.user }}</h3>
<p>{{ article.content }}</p>
<hr>

<!-- 요청자가 작성자 본인일 때만 게시글 수정 혹은 삭제 가능-->
{% if request.user == article.user %}
<a href="{% url 'articles:update' article.pk %}"><button>수정하기</button></a>
<form method="POST" action="{% url 'articles:delete' article.pk %}">
  {% csrf_token %}
  <button type="submit">삭제하기</button>
</form>
<hr>
{% endif %}

{% include 'articles/follow.html' %}

<h3>댓글</h3>
<!-- 댓글 입력 창 -->
{% if user.is_authenticated %}
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  내용 {{ empty_form.content }}
  {% comment %} <button type="submit">달기</button> {% endcomment %}
</form>
{% endif %}
<hr>

{% for temp in comments %}
{% if temp.pk == comment_pk %}
<form action="{% url 'articles:comment_update' article.pk temp.pk %}" method="POST">
  {% csrf_token %}
  <p style="display: inline">{{ comment_form.content}} {{ temp.created_at}} by {{ temp.user }}</p>
  <button type="submit">수정완료</button>
</form>
{% else %}
  {{ temp.content }} {{ temp.created_at }} by {{ temp.user }}
  <br>
{% endif %}
{% endfor %}

{% if article.user != request.user %}
  <a href="{% url 'articles:like' article.pk %}">
  {% if  request.user in article.like_users.all  %}
  ❤️
  {% else %}
  🖤
  {% endif %}
  </a>
{% else %}
<span>🖤 작성자 본인은 좋아요 표시를 할 수 없습니다.</span></br>
{% endif %}
<p>{{ article.like_users.all | length }} 명이 좋아합니다.</p>


{% endblock container %}
