{% extends 'base.html' %}
{% block title %}{{ article.pk }}번 게시글 상세보기{% endblock title %}

{% block container %}
<h1>{{ article.pk }}. {{ article.title }}</h1>
{{ article.content }}</br>
</br>
<!-- 수정하기, 삭제하기 -->
<a href="{% url 'articles:update' article.pk %}"><button>수정하기</button></a>
<form method="POST" action="{% url 'articles:delete' article.pk %}">
  {% csrf_token %}
  <button type="submit">삭제하기</button>
</form>
<hr>
<h3>댓글</h3>
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  내용 {{ comment_form.content }}
  <button type="submit">달기</button>
</form>
<hr>
{% for comment in comments %}
<li>
<!-- url 로 들어가서 삭제하는 것 방지하도록 form, require_POST 사용 -->
<form5 action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST">
  {% csrf_token %}
  {{ comment.content }} {{ comment.created_at }}
  <button type="submint">삭제</button>
</form>
</li>
{% endfor %}
{% endblock container %}
